<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alzheimer.alarm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".AlzheimerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SportDetailActivity"></activity>
        <activity android:name=".SportActivity" />
        <activity android:name=".LibraryDetailActivity" />
        <activity android:name=".LibraryActivity" />
        <activity android:name=".FacilitiesActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".OutEventActivity" />
        <activity android:name=".TypeActivity" />
        <activity android:name=".VICActivity" />
        <activity android:name=".VicDetailActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".Note_Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Note_Edit" />
        <activity android:name=".Weather_Home" />
        <activity android:name=".Wea_search" />
        <activity android:name=".Note_Taskdetail" />
        <receiver android:name=".BroadcastAlarm" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="lAVzAfbaNNWSr80wFEL8QQmQfAunApDe" />
    </application>

</manifest>